<h1>Dashboard</h1>

<div id="dashboard">
  <h2>Device Usage</h1>
  <table class="table table-striped table-bordered">
    <thead>
      <th scope="col">Name</th>
      <th scope="col">Total</th>
      <th scope="col">Assigned</th>
      <th scope="col">Available</th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<div id="dashboard">
  <h2>Software Compliance</h2>
  <table class="table table-striped table-bordered">
  <thead>
      <th scope="col">Name</th>
      <th scope="col">License Count</th>
      <th scope="col">Employee Count</th>
      <th scope="col">Compliant?</th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
